@font-face {
	font-family: "Whitney";
	src: url("Whitney-BlackItalic.eot");
	src: local("Whitney Black Italic"), local("./Whitney-BlackItalic"),
		url("Whitney-BlackItalicd41dd41d.eot?#iefix") format("embedded-opentype"),
		url("Whitney-BlackItalic.woff2") format("woff2"),
		url("Whitney-BlackItalic.woff") format("woff"),
		url("Whitney-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Whitney";
	src: url("Whitney-Semibold.eot");
	src: local("Whitney Semibold"), local("./Whitney-Semibold"),
		url("Whitney-Semiboldd41dd41d.eot?#iefix") format("embedded-opentype"),
		url("Whitney-Semibold.woff2") format("woff2"),
		url("Whitney-Semibold.woff") format("woff"),
		url("Whitney-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Whitney";
	src: url("Whitney-Medium.eot");
	src: local("Whitney Medium"), local("./Whitney-Medium"),
		url("Whitney-Mediumd41dd41d.eot?#iefix") format("embedded-opentype"),
		url("Whitney-Medium.woff2") format("woff2"),
		url("Whitney-Medium.woff") format("woff"),
		url("Whitney-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Whitney";
	src: url("Whitney-Light.eot");
	src: local("Whitney Light"), local("./Whitney-Light"),
		url("Whitney-Lightd41dd41d.eot?#iefix") format("embedded-opentype"),
		url("Whitney-Light.woff2") format("woff2"),
		url("Whitney-Light.woff") format("woff"),
		url("Whitney-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Whitney";
	src: url("Whitney-MediumItalic.eot");
	src: local("Whitney Medium Italic"), local("./Whitney-MediumItalic"),
		url("Whitney-MediumItalicd41dd41d.eot?#iefix") format("embedded-opentype"),
		url("Whitney-MediumItalic.woff2") format("woff2"),
		url("Whitney-MediumItalic.woff") format("woff"),
		url("Whitney-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Whitney Book";
	src: url("Whitney-BookItalic.eot");
	src: local("Whitney Book Italic"), local("./Whitney-BookItalic"),
		url("Whitney-BookItalicd41dd41d.eot?#iefix") format("embedded-opentype"),
		url("Whitney-BookItalic.woff2") format("woff2"),
		url("Whitney-BookItalic.woff") format("woff"),
		url("Whitney-BookItalic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Whitney";
	src: url("Whitney-Black.eot");
	src: local("Whitney Black"), local("./Whitney-Black"),
		url("Whitney-Blackd41dd41d.eot?#iefix") format("embedded-opentype"),
		url("Whitney-Black.woff2") format("woff2"),
		url("Whitney-Black.woff") format("woff"),
		url("Whitney-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Whitney";
	src: url("Whitney-Book.eot");
	src: local("Whitney Book"), local("./Whitney-Book"),
		url("Whitney-Bookd41dd41d.eot?#iefix") format("embedded-opentype"),
		url("Whitney-Book.woff2") format("woff2"),
		url("Whitney-Book.woff") format("woff"),
		url("Whitney-Book.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Whitney";
	src: url("Whitney-LightItalic.eot");
	src: local("Whitney Light Italic"), local("./Whitney-LightItalic"),
		url("Whitney-LightItalicd41dd41d.eot?#iefix") format("embedded-opentype"),
		url("Whitney-LightItalic.woff2") format("woff2"),
		url("Whitney-LightItalic.woff") format("woff"),
		url("Whitney-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Whitney";
	src: url("Whitney-SemiboldItalic.eot");
	src: local("Whitney Semibold Italic"), local("./Whitney-SemiboldItalic"),
		url("Whitney-SemiboldItalicd41dd41d.eot?#iefix") format("embedded-opentype"),
		url("Whitney-SemiboldItalic.woff2") format("woff2"),
		url("Whitney-SemiboldItalic.woff") format("woff"),
		url("Whitney-SemiboldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Whitney";
	src: url("Whitney-Bold.eot");
	src: local("Whitney Bold"), local("./Whitney-Bold"),
		url("Whitney-Boldd41dd41d.eot?#iefix") format("embedded-opentype"),
		url("Whitney-Bold.woff2") format("woff2"),
		url("Whitney-Bold.woff") format("woff"),
		url("Whitney-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Whitney";
	src: url("Whitney-BoldItalic.eot");
	src: local("Whitney Bold Italic"), local("./Whitney-BoldItalic"),
		url("Whitney-BoldItalicd41dd41d.eot?#iefix") format("embedded-opentype"),
		url("Whitney-BoldItalic.woff2") format("woff2"),
		url("Whitney-BoldItalic.woff") format("woff"),
		url("Whitney-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}
