:root {
  --primary-color: #aaa7a7;
  --primary-color-rgb: 86, 35, 216;
  --secondary-color: #1f1f20;
  --secondary-color-rgb: 106, 121, 250;
  --tertiary-color: #747173;
  --tertiary-color-rgb: rgb(116, 113, 115);
}